.navbar-nav a{
    /*  display: none; */
    text-decoration: none;
    padding: 5px 20px;

}



#main > section {
    /*  display: none; */

}

#loggedInUser{
    color: #ff5e3a;
    //TODO: This ID alredy missing in DOM elements.Dont work!!!.Location is on  Hello, username tag's
 }

