{{> header}}
<header class="masthead" id="home">
    <div class="header-content">
        <div class="header-content-inner">
            <h1 id="homeHeading">Your Favorite Source of Software solutions</h1>
            <hr>
            <p>Start develop your ideas with the right people! Just press the button, no strings attached!</p>
            <a class="btn btn-primary btn-xl" href="#services">Find Out More</a>
        </div>
    </div>
</header>

{{> footer}}
