{{> header}}
<section id="login">
    <div id="newOrderDiv" class="login-wrap">
        <div class="login-html new-order">
            <div class="login-form">
                <h1>All Teams</h1>
                <form class="form-group">
                    <div class="form-group">
                        <label for="teams">Teams</label>
                        <textarea class="form-control" id="teams" name="comment" rows="5">{{teamsName}}</textarea>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
{{> footer}}