{{> header}}
<section id="login">
    <div id="newOrderDiv" class="login-wrap">
        <div class="login-html new-order">
            <div class="login-form">
                <h1>All Teams</h1>
                <form class="form-group">
                    {{#each teams}}
                        <div class="group">
                            <h3 class="teamName">{{name}}</h3><a class="btn btn-lg btn-block btn-info" href="#/teamDetails/:{{_id}}" value="Details">Details</a>
                        </div>
                    {{/each}}
                </form>
            </div>
        </div>
    </div>
</section>
{{> footer}}