{{> header}}
<section id="login">
    <div id="newOrderDiv" class="login-wrap">
        <div class="login-html new-order">
            <div class="login-form">
                <h1>All Teams</h1>
                <form class="form-group">
                    {{#each teams}}
                        <div class="group">
                            <h3 class="teamName">{{name}}</h3><input type="submit" id="" class="button btn-info" value="Details">
                        </div>
                    {{/each}}
                </form>
            </div>
        </div>
    </div>
</section>
{{> footer}}