{{> header}}
<section id="services">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">At Your Service</h2>
                <hr class="primary">
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-code text-primary sr-icons"></i>
                    <h3>Web</h3>
                    <p class="text-muted">Our web applications are build with high quality code.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-desktop text-primary sr-icons"></i>
                    <h3>Desktop</h3>
                    <p class="text-muted">Desktop apps are great!</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-mobile text-primary sr-icons"></i>
                    <h3>Mobile</h3>
                    <p class="text-muted">Mobile - a modern solution.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-snowflake-o text-primary sr-icons"></i>
                    <h3>Hybrid</h3>
                    <p class="text-muted">You can have it all - a hybrid app!</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12 text-center">
                <a id="orderNow" class="btn btn-primary btn-xl" href="#services">Order now</a>
            </div>
        </div>
    </div>

</section>
{{> footer}}