  <div class="form-group col-sm-3">
                <label for="sel1">Order by</label>
                <select class="form-control" id="orderCriteria">
                    <option>Select...</option>
                    <option>DeadLine</option>
                    <option>Date ascending</option>
                    <option>Date descending</option>
                </select>
            </div>
                <div id="ordersCeckBox" class="col-sm-6">
                    <label class="radio-inline"><input type="checkbox" id="finishedBox" value="Finished">Finished</label>
                    <label class="radio-inline"><input type="checkbox" id="developmentBox" value="Development">Development</label>
                    <label class="radio-inline"><input type="checkbox" id="clarificationBox" value="Clarification">Clarification</label>
                </div>