{{> header}}
<section id="login">
    <div id="editOrderDiv" class="login-wrap">
        <div class="login-html new-order">
            <div class="login-form">
                <h1>Edit <span class="content-header wow fadeIn " data-wow-delay="0.2s" data-wow-duration="2s"> {{nameOfApp}}</span></h1>
                {{> editOrderForm}}
            </div>
        </div>
    </div>
</section>
{{> footer}}