{{> header}}
<section id="login">
    <div class="login-wrap">
        <div class="login-html new-order">
            <div class="login-form">
                <h1>New Order</h1>
                {{> newOrderForm}}
            </div>
        </div>
    </div>
</section>
{{> footer}}