{{>header}}

<div class="ordersPage">
    <br />
    <br /><br />

    <div id="ordersHeader"><header class="text-center">All Orders</header></div>


    <div id="ordersContent" class="container">
        <div class="row">

            {{>orderByForm}}

        </div>


    <ul class="list-group" id="ordersList">


    </ul>

      {{> pagenation}}

    </div>

</div>
{{>footer}}